
<div class="sidebar visible-desktop">
    <h1>Sidebar</h1>
      <div>If you work on almost any site design, you’ll run into a fun little problem: short pages, and the footers that hate them.
  
  Footers should be at the bottom of the page. Not just hanging out at the bottom of your content, but at the foot of your viewport. Nice and orderly, always in the same spot, no matter the height of the page, rather than just wandering to and fro up the screen like barbarians.
  
  </div>
    
  </div>
  
  <div class="main-content--wrap">
      
      <div class="mobile-nav visible-till-desktop">visible-till-desktop nav</div>
      
    <header class="header visible-desktop">
      <h1>header</h1>
    </header>
      
    <div class="content">
          <div class="content-inner--wrap">
          
              <div class="content-inner">
                  <h1>Content</h1>
                  <p class="visible-mobile">mobile</p>
                  <p class="visible-tablet">tablet</p>
                  <p class="visible-desktop">desktop</p>
              </div>
  
              <div class="content-sidebar">content-sidebar</div>
          </div>
    </div>
      
       <footer class="footer">
      <h1>footer</h1>
    </footer>
      
  </div>